* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body, html {
  background: #f7fafa;
  color: #001b30;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: auto;  
  overflow-y: auto;
}


/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #cbf1f5;
  padding: 30px 50px;
  flex-wrap: wrap;
  gap : 1px;
}

.logo {
  font-weight: bold;
  font-size: 22px;
  color: #001b30;
  display: flex;
  align-items: center;
  gap: 100px;
  margin-right: 50px;
}

nav ul {
  font-weight: bold;
  font-size: 19px;
  color: #001b30;
  align-items: center;
  display: flex;
  list-style: none;
  gap: 100px;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #001b30;
}

.login-btn {
  background: white;
  border: none;
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn {
  background: #e3fdfd;
  border: none;
  padding: 8px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #001b30;
  font-size: 20px;
  margin-left: 10px; 
}
.login-btn:hover {
  background: #71c9ce;
}
/* Tiêu đề */
.title {
  text-align: center;
  margin: 20px 0;
}

.title h3 {
  font-size: 30px;
  font-weight: bold;
  color: #001b30;
}

.title h1 {
  font-size: 35px;
  font-weight: bold;
  color: #001b30;
}

.boxes{
  display:grid;
  grid-template-columns: 1fr 1.25fr 1.25fr 1fr;
  grid-auto-rows: 130px;
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto 24px;
}

.box{
  background:#d9d9d9;
  border-radius:10px;
}

/* Đặt vị trí từng ô */
.b1{ grid-column:1; grid-row:1; }                 
.b2{ grid-column:1; grid-row:2; }                 
.b3{ grid-column:2; grid-row:1 / span 2; }        
.b4{ grid-column:3; grid-row:1; }                 
.b5{ grid-column:3; grid-row:2; }                 
.b6{ grid-column:4; grid-row:1 / span 2; }        

/* Responsive cho màn nhỏ: đổi về 2 cột */
@media (max-width: 768px){
  .boxes{
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 120px;
  }
  .b1{grid-column:1; grid-row:auto;}
  .b2{grid-column:1;}
  .b3{grid-column:2; grid-row:auto / span 2;}
  .b4{grid-column:1;}
  .b5{grid-column:1;}
  .b6{grid-column:2; grid-row:auto / span 2;}
}


/* Đoạn giới thiệu */
.description {
  max-width: 900px;
  margin: 30px auto;
  text-align: justify;
  font-size: 20px;
  line-height: 1.6;
}