.footer {
  background: #1f1f1f;
  color: #fff;
  padding: 50px 80px 20px;
  font-family: Arial, sans-serif;
}

.footer-col p {
  margin: 4px 50px;
  font-size: 14px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #ddd;
  font-size: 14px;
  transition: color 0.3s;
}

.contact-title {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 8px;
}

.footer-bottom {
  border-top: 1px solid #aaa;
  margin-top: 30px;
  text-align: center;
  padding-top: 15px;
  font-size: 13px;
  color: #aaa;
}
