* { box-sizing: 
  border-box;
font-family: Arial, sans-serif; }
html, body, #root { height: 100%; }
body {
  margin: 0;
  background: linear-gradient(to bottom right, #e3fdfd,#cbf1f5,#a6e3e9,#71c9ce);
}
html, body {
  height: auto;
  min-height: 100%;
}
body {
  overflow: visible;   
}
html {
  overflow-x: scroll; 
  overflow-y: auto;     
} 
 
  

