.change-root {
  padding-top: 144px; /* đẩy toàn bộ content xuống dưới header (cao hơn header ~96px để có khoảng trống) */
  background: #ffffff;
  min-height: 100vh;
  color: #001b30;
  width: 100%;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
}

/* CONTENT WRAPPER */
.change-container {
  max-width: 1200px; /* giới hạn chiều rộng tối đa */
  margin: 0 auto; /* căn giữa toàn bộ nội dung */
  padding: 0 24px; /* lề hai bên */
}
.password-form {
  max-width: 700px;
  margin: 60px auto;
  font-family: Arial, sans-serif;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.form-group label {
  font-weight: bold;
  color: #003366;
  margin-bottom: 6px;
  font-size: 15px;
}

.form-group input {
  width: 100%;
  height: 32px;
  padding: 5px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

.form-group input:focus {
  border-color: #003366;
  outline: none;
  box-shadow: 0 0 3px #003366;
}

.save-btn {
  display: block;
  margin: 30px auto 0;
  padding: 8px 24px;
  font-size: 18px;
  color: #003366;
  background-color: #e3fdfd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.save-btn:hover {
  background-color: #003366;
  color: #e3fdfd;
}