.change-password  {
  background-color: #fff;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.change-password .password-form {
  width: 100%;
  margin: 60px auto;
  font-family: Arial, sans-serif;
}

.change-password .form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

.change-password .form-group label {
  width: 120px;;
  font-weight: bold;
  color: #003366;
  margin-bottom: 6px;
  font-size: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: flex-start;
}

.change-password .form-group input {
  flex: 1;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}


.change-password .save-btn {
  display: block;
  margin: 30px auto 0;
  padding: 8px 24px;
  font-size: 24px;
  color: #e3fdfd;
  background-color: #003366;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.change-password .save-btn:hover {
  background-color: #e3fdfd;
  color: #003366;
}