.intro-root {
  min-height: 100vh;
  background: #f7fafa;
  font-family: Arial, sans-serif;
  padding-top: 150px; 
}


.title {
  text-align: center;
  margin: 20px 0;
}

.title h3 {
  font-size: 30px;
  font-weight: bold;
  color: #001b30;
}

.title h1 {
  font-size: 35px;
  font-weight: bold;
  color: #001b30;
}

.boxes{
  display:grid;
  grid-template-columns: 1fr 1.25fr 1.25fr 1fr;
  grid-auto-rows: 130px;
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto 24px;
}

.box{
  background:#d9d9d9;
  border-radius:10px;
}

/* Đặt vị trí từng ô */
.b1{ grid-column:1; grid-row:1; }                 
.b2{ grid-column:1; grid-row:2; }                 
.b3{ grid-column:2; grid-row:1 / span 2; }        
.b4{ grid-column:3; grid-row:1; }                 
.b5{ grid-column:3; grid-row:2; }                 
.b6{ grid-column:4; grid-row:1 / span 2; }        

/* Responsive cho màn nhỏ: đổi về 2 cột */
@media (max-width: 768px){
  .boxes{
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 120px;
  }
  .b1{grid-column:1; grid-row:auto;}
  .b2{grid-column:1;}
  .b3{grid-column:2; grid-row:auto / span 2;}
  .b4{grid-column:1;}
  .b5{grid-column:1;}
  .b6{grid-column:2; grid-row:auto / span 2;}
}


/* Đoạn giới thiệu */
.description {
   max-width: 900px;
  margin: 30px auto;
  text-align: justify;
  font-size: 20px;
  line-height: 1.6;
}