/* nền tổng */
.jobs-root {
  background-color: #fff;
  padding-top: 144px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  
}
body{background: #fff;}
/* CONTENT WRAPPER */
.jobs-container {
  width: 1200px;
  display: flex;
  justify-content: center;
}

.job-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  width: 1200px;   /* cùng max-width với thanh search */
  margin: 20px auto 60px; /* căn giữa */
  padding: 0;
  
}

.job-card {
  background: #E3FDFD; 
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.08); /* thêm bóng nhẹ */
  transition: transform 0.2s ease;
}

.job-card:hover {
  transform: translateY(-4px); /* hiệu ứng hover nổi lên */
}

.job-card h3 {
  margin-bottom: 12px;
  font-size: 18px;
  color: #003763;
}

.job-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 500;
  color: #003763;
}
.job-form .form-group {
  margin-bottom: 20px;
  width: 1200px;
}

.job-form label {
  display: block;
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: bold;
  color: #003763;
}

.job-form input{
  margin-bottom:20px;
  width: 1200px;
  font-size: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.form-group input[type="date"] {
  width: 1200px;
}
.job-form input,
.job-form textarea {
  width: 100%;              
  font-size: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
.save-btn {
  width: 150px;
  background-color: #E3FDFD ;
  color: #003763 ;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin: 20px auto 0;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.save-btn:hover {
  background-color: #003763 ;  
  color: #E3FDFD;
}